.header-menus-panel {
    height: 50px;
    display: flex;
    padding: 9px 10px;
    align-items: center;
    justify-content: space-between;
    font-size: var(--size-12px);
    background-color: var(--module);
    flex-direction: row;
    // box-shadow: inset 0 -1px 0 var(--border-color-strong);
    user-select: none;
    position: relative;

    .logo {
        // position: absolute;
        // left: 50%;
        // transform: translateX(-50%);
        // order: 2;
        // flex: 1;
    }

    .header-left {
        // order: 1;
        svg{
            cursor: pointer;
        }
    }

    .header-right {
        // order: 3;
    }


    // .header-left {
    //     flex: 1;
    //     display: flex;
    //     align-items: center;
    // }

    // .header-right {
    //     display: flex;
    //     align-items: center;

    //     &>div {
    //         margin: 0 4px;
    //     }
    // }

}