.tPlan-config {
    position: fixed;
    z-index: 100;
    top: 200px;
    right: 20px;

    &-default {
        width: 42px;
        height: 95px;
        border-radius: 5px;
        background-color: var(--bg-4);
        color: var(--font-1);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        p {
            width: 12px;
            line-height: 17px;
        }

        svg {
            min-width: 14px;
            min-height: 14px;
            width: 14px;
            height: 14px;
            fill: var(--font-1);
            margin-left: 4px;
        }
    }

    &-box {
        padding: 10px;
        background-color: var(--bg-3);
        border-radius: 5px;

        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;

            p {
                color: var(--font-1);
                font-size: 14px;
            }

            &-right {
                display: flex;
                align-items: center;

                .save {
                    min-width: 60px;
                    height: 25px;
                    background: var(--theme-color);
                    border-radius: 3px;
                    padding: 8px;
                    color: var(--common-white);
                    margin-right: 4px;

                    svg {
                        fill: var(--common-white);
                        margin-right: 6px;
                    }
                }

                svg {
                    width: 14px;
                    height: 14px;
                    fill: var(--font-1);
                    cursor: pointer;
                }
            }
        }

        .container {
            display: flex;
            flex-direction: column;

            .arco-picker {
                width: 160px;
            }

            .item {
                display: flex;
                margin-bottom: 18px;

                .label {
                    margin-top: 2px;
                }
            }

            .time-select {
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                .explain {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    &-left {
                        display: flex;
                        align-items: center;

                        p {
                            margin-right: 6px;
                        }

                        svg {
                            cursor: pointer;
                        }
                    }

                    &-right {
                        background-color: var(--bg-1);
                        width: 146px;
                        height: 32px;
                        border: 1px solid var(--bg-4);
                        border-radius: 3px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 6px;
                        padding-right: 0;
                        box-sizing: border-box;
                        margin-right: 20px;

                        .time-item {
                            display: flex;
                            flex-direction: column !important;
                        }

                        .apipost-select {
                            height: 30px;
                            background-color: var(--bg-1);
                            border-color: transparent;

                            .apipost-select-view-text {
                                font-size: 14px;
                            }

                            .apipost-select-view-suffix {
                                svg {
                                    width: 8px;
                                    height: 8px;
                                    min-width: 8px;
                                    fill: var(--font-1);
                                }
                            }
                        }
                    }
                }


                .select-date {
                    display: flex;
                    margin-top: 15px;
                    width: 100%;

                    &-left {
                        background-color: var(--bg-1);
                        width: 146px;
                        height: 32px;
                        border: 1px solid var(--bg-4);
                        border-radius: 3px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 6px;
                        padding-right: 0;
                        box-sizing: border-box;
                        margin-right: 20px;

                        .apipost-select {
                            height: 30px;
                            background-color: var(--bg-1);
                            border-color: transparent;

                            .apipost-select-view-text {
                                font-size: 14px;
                            }

                            .apipost-select-view-suffix {
                                svg {
                                    width: 8px;
                                    height: 8px;
                                    min-width: 8px;
                                    fill: var(--font-1);
                                }
                            }
                        }
                    }

                    &-right {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }

                .time-explain {
                    white-space: normal !important;
                    margin-top: 20px;
                }
            }
        }
    }

    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .apipost-radio-wrapper {
            margin-bottom: 8px;
        }
    }
}