.create-team-modal {
    // z-index: 9999;
    // width: 380px; 
    // height: 238px;

    .apipost-modal-container {
        width: 380px;
        height: 238px;

        .apipost-modal-body {
            display: flex;
            justify-content: center;
            align-items: center;

            padding-bottom: 58px;

            .input-error {
                background: rgba(255, 76, 76, 0.1);
                border: 1px solid var(--run-red);
            }
        }
    }
}