/*ApiPost 颜色变量 - 样式设置文件*/
:root {

  /* New apipost css reset start */

  --base-color-brand: #ff6c37;
  --base-color-info: #097bed;
  --base-color-error: #eb2013;
  --base-color-success: #0cbb52;
  --base-color-warning: #ffb400;

  --background-color-primary: #ffffff;
  --background-color-secondary: #f9f9f9;
  --background-color-tertiary: #f2f2f2;
  --background-modal-backdrop: rgba(26, 26, 26, 0.5);

  --content-color-primary: #212121;
  --content-color-secondary: #6b6b6b;
  --content-color-constant: #ffffff;
  --content-color-tertiary: #A6A6A6;

  --border-color-default: #ededed;
  --border-color-strong: #e6e6e6;

  --highlight-background-color-brand: #e05320;
  --highlight-background-color-info: #0265d2;
  --highlight-background-color-primary: #ededed;
  --highlight-background-color-tertiary: #e6e6e6;
  --highlight-background-color-secondary: #EDEDED;

  --scrollbar-thumb-background-color: #A6A6A6;
  --scrollbar-track-background-color: #EDEDED;

  --shadow-default: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);

  --text-select-color: rgb(180 215 255);

  --text-weight-regular: 400;
  --text-weight-medium: 600;
  --text-weight-bold: 600;
  /* New apipost css reset end */

  /* 删除红 */
  --delete-red: #FF4C4C;
  /* 运行绿 */
  --run-green: #3CC071;
  /* 一致白 */
  --common-white: #FFFFFF;
  /* 主题橙 */
  /* --theme-color: #EC663C; */
  --theme-color: #006ED8;
  /* 操作日志 */
  /* 标签蓝 */
  --log-blue: #3A86FF;
  /* 标签绿 */
  --log-green: #3CC071;
  /* 标签橘 */
  --log-orange: #EC663C;
  /* 标签青 */
  --log-cyan: #35CAAF;
  /* 首页数据 */
  /* 数字1 */
  --index-1: #4D91FF;
  /* 数字2 */
  --index-2: #35CAAF;
  /* 数字3 */
  --index-3: #FF7043;
  /* 数字4 */
  --index-4: #00ACD7;
  /* 头像hover */
  --avatar: rgba(32, 33, 34, 0.2);
  /* 运行绿 */
  --run-green: #3CC071;
  /* 错误红 */
  --run-red: #C03C3C;
  /* 头像灰 */
  --avatar-grey: #9E9E9E;

  /* 浅色模式 */

  --bg-1: #FFFFFF;
  --bg-2: #F8F8F8;
  --bg-3: #F2F2F2;
  --bg-4: #E9E9E9;
  --bg-5: #FEFEFE;
  --bg-6: #444448;
  --bg-7: #FFFFFF;
  /* 字体 */
  --font-color: #2B2B2B;
  /* icon */
  --icon-color: #2B2B2B;
  --font-1: #333333;
  --font-2: #999999;
  --font-3: #666666;
  --select: rgba(32, 33, 34, 0.08);

  --shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);



  /* 背景 */
  --bg: #F2F3F5;
  /* 模块 */
  --module: #FFFFFF;
  /* 主题色 */
  --theme-color: #4052EC;
  /* 辅色1 */
  --sub-color-1: #0DA03F;
  /* 辅色1 10% */
  --sub-color-1-10: rgba(13, 160, 63, 0.1);
  /* 辅色2 */
  --sub-color-2: #67C5F6;
  /* 辅色2 10% */
  --sub-color-2-10: rgba(103, 197, 246, 0.1);
  /* 辅色3 */
  --sub-color-3: #7B40F2;
  /* 辅色3 10% */
  --sub-color-3-10: rgba(123, 64, 242, 0.1);
  /* 辅色4 */
  --sub-color-4: #D94525;
  /* 辅色4 10% */
  --sub-color-4-10: rgba(237, 120, 71, 0.1);
  /* 辅色5 */
  --sub-color-5: #CF515E;
  /* 辅色5 10% */
  --sub-color-5-10: rgba(207, 81, 94, 0.1);

  /* 边框、线 */
  --border-line: #F2F3F5;
  /* 场景里-选中 */
  --scene-select: rgba(192, 192, 192, 0.2);
  /* 场景接口控制器边框 */
  --scene-border: #ECECEC;
  /* 场景内接口权重下面的线 */
  --scene-api-line: rgba(242, 243, 245, 0.5);
  /* 前置URL、默认按钮 */
  --default-button: rgba(64, 82, 236, 0.2);
  /* 运行 */
  --run: rgba(76, 203, 126, 0.2);
  /* 选中+hover */
  --select-hover: #ECEEFD;

  /* 默认字体 */
  --default-font: #C4C4C4;

  /* 主题色10% */
  --theme-10: rgba(64, 82, 236, 0.1);

  /* 主题色20% */
  --theme-20: rgba(64, 82, 236, 0.2);

  /* 弹窗底 */
  --modal-footer: rgba(242, 243, 245, 0.5);

  /* 发送下拉10% */
  --send-select-10: rgba(255, 255, 255, 0.1);

  /* 场景内-输入框 */
  --scene-input: #E0E0F1;

  /* POST橙 */
  --post: #DF7B07;

  /* GET绿 */
  --get: #2BA58F;

  /* MySQL */
  --mysql: #0fb5df;

  /* TCP */
  --tcp: #6607DF;

  /* WebSocket */
  --ws: #FAC60C;

  /* MQTT */
  --mqtt: #FB965E;

  /* DUBBO */
  --dubbo: #5A94EB;

  /* Oracle */
  --oracle: #FF165D;

  /* PostgreSQL */
  --postgresql: #ebcc06;

  /* sun color */
  --icon-sun-color: #FFDA58;

  /* moon color */
  --icon-moon-color: rgba(10, 10, 32, 0.5);

  /* 前置条件底色 */
  --pre-condition-bg: #FAFAFA;

  /* 浅色环境关闭 */
  --env-close: #D8D8D8;

  /* 场景节点头部 */
  --scene-header: #F2F3F5;

  /* 场景节点体 */
  --scene-container: #FFFFFF;

  /* 场景节点的上下连接点 */
  --scene-handle: #B3B3B3;

  /* 任务配置背景色 */
  --task-config-bg: #FBFBFB;

  /* 表格删除红色 */
  --table-delete: #D94525;
}